* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: url(../image/mountain.jpg);
    background-size: cover;
}

section:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../image/splash.jpg);
    background-size: 1800px;
    background-position: center;
    mix-blend-mode: screen;
}